fastapi
uvicorn[standard]
pydantic
pydantic[email]
pydantic-settings
python-dotenv
httpx
python-jose[cryptography]
passlib[bcrypt]
email-validator
rich
slowapi
supabase
requests
python-multipart
sqlalchemy
alembic
asyncpg
psycopg2-binary